{{ partial "header.html" . }}

<!-- Title & Intro -->
<section>
    <div class="container">
        <header class="row text-center title">
            <h1>Projects</h1>
            <span class="title-divider"></span>
        </header>
        <div class="col-md-12 text-justify content mtb-50">
            <span>
                    During my time as a professional developer I have worked using a number of different technologies and languages in web. This has seen me write complex back-end systems, administer servers as well as designing and producing attractive interfaces. Some of my most notable work can be seen below.
            </span>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row">
            {{ range (.Data.Pages.ByParam "year").Reverse }}
                {{ if .Params.image  }}
                    <div class="project-list__background-image col-md-4" style="background-image: url('/img/projects/{{ .Title | urlize }}/{{ .Params.image }}');">
                    <div class="dark-overlay"></div>
                {{ else }}
                    <div class="col-md-4 {{ .Params.class }}">
                {{ end }}
                        <div class="project-content">
                            <h3 class="project-list__header">{{ .Title | upper }}</h3>
                            <h6 class="project-list__subheader text-left header-font">{{ .Params.year }} - {{ .Params.project_type }}, {{ .Params.technology}}</h6>
                            <p class="project-list__summary header-font">{{ .Params.summary }}</p>
                            {{ if .Params.image }}
                                <a href="{{ .Permalink }}" class="project-list__btn btn-transparent">LEARN MORE</a>
                            {{ else }}
                                <a href="{{ .Permalink }}" class="project-list__btn btn-fill">LEARN MORE</a>
                            {{ end }}
                        </div>
                    </div>
            {{ end }}
        </div>
    </div>
</section>

<!-- Menu & Footer -->
<section class="mtb-50">
    <div class="container">
        {{ partial "menu.html" . }}

        {{ partial "footer.html" . }}
    </div>
</section>