{{ partial "header.html" . }}

<section>
    <div class="container-fluid">
        <div class="row">
            
        </div> 
    </div>
</section>

<section>
    <div class="container">
        <header class="row text-center title">
            <h1>{{ .Title }}</h1>
            {{ if .Params.colour }}
                <span class="title-divider" style="background-color:{{ .Params.colour }}"></span>
            {{ else }}
                <span class="title-divider"></span>
            {{ end }}
        </header>

        <div class="owl-carousel owl-theme mtb-30">
            {{ range $image := $.Params.carousel_images }}
                <img src="/img/projects/{{ $.Title | urlize }}/{{ $image }}" />
            {{ end }}
        </div>

        <div class="col-md-12 text-justify content mtb-5">
            {{ if eq .Params.project_type "Commercial" }}
                <p class="disclaimer">Due to this being a commercial project some details may be omitted and functionality may be generalised.</p>
            {{ end }}

            {{ .Content }}

            {{ if .Params.repo }}
            <div class="row text-center social">
                <a href="{{.Params.Repo}}"><i class="fab fa-bitbucket"></i></a>
            </div>
            {{ end }}
        </div>
    </div>
</section>

<section>
    <div class="container">
        {{ partial "menu.html" . }}

        {{ partial "footer.html" . }}
    </div>
</section>