h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

h4, h5, h6, span, p, body {
    font-family: 'Sorts Mill Goudy', serif;
}

img {
    max-width: 100%;
}

ul {
    padding-left: 0;
}

code *, pre * {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.banner,
.about-banner {
    background-color: #465cff;

    /* Hive */
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23a0abff' fill-opacity='0.09' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */

    /* Wiggle */
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23a0abff' fill-opacity='0.12'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    /* Bank Note */
    /* background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23a0abff' fill-opacity='0.12' fill-rule='evenodd'/%3E%3C/svg%3E"); */
    
    /* Signal */
    /* background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23a0abff' fill-opacity='0.12' fill-rule='evenodd'/%3E%3C/svg%3E"); */
    color:#e6eaf1;
}

.header-font {
    font-family: 'Poppins', sans-serif;
}

.disclaimer {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 20px;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .65);
    z-index: 1;
}

.project-content {
    position: relative;
    padding: 5rem;
    color: #fcfcfc;
    width: 100%;
    min-height: 350px;
    z-index: 2;
}

.mtb-30 {
    margin: 30px 0 !important;
}
.mtb-50{
    margin: 50px 0 !important;
}

/* Categories */
#category-pane h3 {
    margin-top: 0;
}

.meta.category {
    padding: 3px 10px;
    color: #fcfcfc;
    border-radius: 5px;
}
.meta.category.programming {
    background-color: #465cff;
}
.meta.category.elixir {
    background-color: #795786;
}

/* Project List Template */
.project-list__header {
    margin-bottom:5px;
}

.project-list__subheader {
    font-size:12px;
    font-weight:200;
    color:#bbb;
    margin-top: 0;
}

.project-list__background-image {
    background-size: cover;
    position: relative;
}

.project-list__summary {
    font-size:16px;
}

.project-list__btn {
    padding: 12px 18px; 
    border: 2px solid #fcfcfc;
    border-radius: 6px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    bottom: 5rem;
}
.project-list__btn.btn-transparent {
    transition-property: color, background-color;
    transition: .2s ease-in-out;
    background-color: transparent; 
    color: #fff; 
}
.project-list__btn.btn-transparent:hover,
.project-list__btn.btn-transparent:focus {
    background-color: #fcfcfc;
    color: #465cff;
}
.project-list__btn.btn-fill {
    transition: background-color .2s ease-in-out;
    background-color: #fcfcfc; 
    color: #666;
}
.project-list__btn.btn-fill:hover,
.project-list__btn.btn-fill:focus {
    background-color: #e6e6e6;
}

/* Individual Project styling */
.project-list__json-api {
    background-color: #01172f;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23596067' fill-opacity='0.12' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.project-list__subtractive-synthesiser {
    background-color: #03055a;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%237475A4' fill-opacity='0.18' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.project-list__movie-importer {
    background-color: #6b9cab;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23BBD2D8' fill-opacity='0.14'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.project-list__retained-availability {
    background-color: #818285;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%235e5f61' fill-opacity='0.45' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
.project-list__technical-fire-safety {
    background-color: #106590;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23518fae' fill-opacity='0.21'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* About Page */
.about-banner {
    position: relative;
    /* background-size: cover;
    background-position: center; */
    height: 395px;
    /* background-color: #465cff; */
}

.about-banner > .title {
    position: absolute;
    bottom: 0;
    padding: 5px 10px;
    color: #fcfcfc;
}

.about-section--grey {
    background-color: #f5f5f5;
}

.about-section__container {
    margin: 8rem 0;
}

.about-section__title {
    font-size: 42px;
    font-weight: 900;
    color: #000;
    text-align: center;
}

.about-section__content {
    max-width: 675px;
    margin: 0 auto;
    color: #286090;
}

a.about-section__button {
    display: inline-block;
    padding: 10px 25px;
    color: #337ab7;
    border-width: 2px;
    border-style: solid;
    border-color: #337ab7;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 16px;
    background-color: transparent;
    transition: all .15s ease;
    text-decoration: none;
}
a.about-section__button:hover {
    background-color: #337ab7;
    color: #fcfcfc;
    text-decoration: none;
}

/* Footer */
.powered > a {
    color: #526d7a;
}

/* FROM THEME */
@-ms-viewport
{
    width: device-width;
}
@-o-viewport
{
    width: device-width;
}
@viewport
{
    width: device-width;
}
a,
a:hover,
a:visited,
a:link
{
    text-decoration: none;
}
body
{
    font-size: 20px;
    font-weight: 400;

    width: auto;
    height: 100%;
    min-height: 100%;
    margin: 0;

    background-color: #fcfcfc;
}
html
{
    position: relative;

    height: 100%;
    min-height: 100%;
    margin: 0;
}
.container
{
    overflow: auto;

    max-width: 680px;
    padding: 0 15px;
}
.content
{
    margin-top: 20px;
    margin-bottom: 20px;
}
div.content
{
    font-size: 18px;
    font-weight: 300;

    color: #777;
}
.copyright
{
    font-size: 12px;
    font-weight: 200;
}
.description
{
    font-weight: 200;
}
.error
{
    margin-top: 100px;
}
.error h1
{
    font-size: 80px;

    color: #bbb;
}
.error p
{
    margin-top: 150px;

    color: #777;
}
.excerpt
{
    font-size: 18px;
    font-weight: 200;

    color: #555;
    margin-bottom: 20px;
}
.footer
{
    margin-top: 10px;

    color: #bbb;
}
.header
{
    margin-top: 60px;
}
.headshot
{
    width: 200px;
    height: 200px;
}
.info
{
    margin-top: 10px;
    margin-bottom: 20px;
}
.intro
{
    font-weight: 200;
    color: rgba(255,255,255,0.62);
    margin-bottom: 40px;
}
h3.intro
{
    margin-top: 0px
}
.list
{
    margin-top: 50px;
}
.list li
{
    list-style: none;
}
.list-entry
{
    font-size: 25px;
    font-weight: 400;

    margin-top: 10px;
    margin-bottom: 45px;
}
.list-entry-link
{
    font-family: 'Poppins', sans-serif;
    color: #526d7a;
    padding: 0;
}
.main-menu
{
    margin-top: 10px;
    margin-bottom: 20px;
}
.menu
{
    margin-top: 10px;
    margin-bottom: 20px;
}
.menu-item
{
    font-size: 20px;
    font-weight: 300;

    text-decoration: none;

    color: #966 !important;
}
.meta
{
    font-size: 12px;
    font-weight: 200;
    margin-top:10px;

    color: #bbb;
}
a.meta
{
    color: #966;
}
h6.meta
{
    font-size: 12px;
    font-weight: 200;

    color: #bbb;
}
.powered
{
    font-size: 12px;
    font-weight: 300;
}
.social {
    margin-top: 10px;
    margin-bottom: 20px;
}
.social,
.social a
{
    color: #526d7a;
}
.title
{
    font-weight: 400;

    color: #555;
}
header.title
{
    position: relative;
    margin-top: 50px;
    padding: 0 15px;
}
.title-divider {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 10%;
    height: 3px;
    background-color: #465cff;
    
}
@media (max-width: 991px)
{
    .header
    {
        margin-top: 50px;
        margin-bottom: 0px;
    }
    .list
    {
        margin-top: 30px;
    }

    .project-content {
        min-height: initial;
    }

    .project-list__btn {
        position: initial;
        display: inline-block;
        margin-top: 30px;
    }
}
