{{ partial "header.html" . }}

<div class="about-banner container-fluid">
    <h1 class="title">A little bit about me...</h1>
</div>

<div class="container-fluid">
    <div class="clearfix">
        <div class="text-center about-section__container">
            <h3 class="about-section__title">I write clean and modular code.</h3>
            <p class="about-section__content">I place emphasis on readability and maintability when writing software.</p>
            {{ with .Site.Params.social.bitbucket }}
            <a class="about-section__button" href="/projects/">Check out my work!</a>
            {{ end }}
        </div>
    </div>
</div>

<div class="container-fluid about-section--grey">
    <div class="clearfix">
        <div class="text-center about-section__container">
            <h3 class="about-section__title">I am adaptable.</h3>
            <p class="about-section__content">I take just as much pride in producing wonderful user experiences as I do building intricate systems.</p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="clearfix">
        <div class="text-center about-section__container">
            <h3 class="about-section__title">I compose and produce music.</h3>
            <p class="about-section__content">Composing and producing music has been a passion of mine for many years.</p>
            <a class="about-section__button" href="{{ ref . "music.md" }}">Give it a listen!</a>
        </div>
    </div>
</div>

<div class="container-fluid about-section--grey">
    <div class="clearfix">
        <div class="text-center about-section__container">
            <h3 class="about-section__title">I know how to relax.</h3>
            <p class="about-section__content">In my down time I enjoy watching football, beers with friends and a few rounds of Mario Kart.</p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="clearfix">
        <div class="text-center about-section__container">
            <h3 class="about-section__title">I love good sci-fi.</h3>
            <p class="about-section__content">Star Wars, Back to the Future and Blade Runner are my picks.</p>
        </div>
    </div>
</div>

{{ partial "menu.html" . }}
    
{{ partial "footer.html" . }}