{{ partial "header.html" . }}

<div class="container">
    <header class="row text-left title">
        <h1 class="title">{{ .Title }}</h1>
    </header>

    <section id="content-pane" class="row">
        <div class="col-md-12 text-justify content">
            {{ .Content }}
        </div>
    </section>

    {{ partial "menu.html" . }}
    
    {{ partial "footer.html" . }}
</div>