<header class="row text-left title">
  <h1 class="title">{{ .Title }}</h1>
</header>
<section id="category-pane" class="row meta">
  {{ if ne .Params.showpagemeta false }}
  <div class="col-md-12">
    <h3 class="text-left meta">
       {{ if not .Date.IsZero }} {{ .Date.Format .Site.Params.dateformat | upper }} {{end}}
      {{ if isset .Params "categories" }}
      {{ $total := len .Params.categories }}
      {{ if gt $total 0 }}
      —
      {{ $total := sub $total 1 }}
      {{ range $i, $cat := sort $.Params.categories }}
      <a class="meta category {{ $cat | lower }}" href="{{ "/categories/" | relURL }}{{ $cat | urlize }}">#{{ $cat | lower }}</a>
      {{ end }}
      {{ end }}
      {{ end }}
    </h3>
  </div>
  {{ end }}
</section>
<section id="content-pane" class="row">
  <div class="col-md-12 text-justify content">
    {{ .Content }}
  </div>
</section>
