<section id="list-pane" class="clearfix list">
  <ul >
    {{ range .Data.Pages.ByPublishDate.Reverse }}
    <li class="list-entry">
      <a class="list-entry-link" href="{{ .Permalink }}">{{ .Title }}</a>
      <p class="meta header-font">
        {{ if not .Date.IsZero }} {{ .Date.Format .Site.Params.dateformat | upper }} {{end}}
        <span class="category">
        {{ if isset .Params "categories" }}
        {{ $total := len .Params.categories }}
        {{ if gt $total 0 }}
        —
        {{ $total := sub $total 1 }}
        {{ range $i, $cat := sort .Params.categories }}
        <a class="header-font category meta {{ $cat | lower }}" href="{{ "/categories/" | relURL }}{{ $cat | humanize | urlize }}">#{{ $cat | lower }}</a>
        {{ end }}
        {{ end }}
        {{ end }}
        </span>
      </p>
      <p class="excerpt">
      {{ .Summary }}
      </p>
    </li>
    {{ end }}
  </ul>
</section>
