<section id="menu-pane" class="menu text-center">
  {{ if not .IsNode }}
    {{ if (or (.PrevInSection) (.NextInSection)) }}
    <span><a class="menu-item" href="{{ .Section | relURL }}">back to {{ .Section | lower }}</a></span>
    {{ end }}
  {{ end }}
  <h4 class="text-center"><a class="menu-item" href="{{ .Site.BaseURL }}">home</a></h4>
</section>
