<section id="social-pane" class="row text-center social">
  {{ with .Site.Params.social.twitter }}
  <a href="https://twitter.com/{{.}}"><i class="fab fa-twitter"></i></a>
  {{ end }}
  {{ with .Site.Params.social.bitbucket }}
  <a href="https://bitbucket.org/{{.}}"><i class="fab fa-bitbucket"></i></a>
  {{ end }}
  {{ with .Site.Params.social.soundcloud }}
  <a href="https://soundcloud.com/{{.}}"><i class="fab fa-soundcloud"></i></a>
  {{ end }}
  {{ with .Site.Params.social.instagram }}
  <a href="https://instagram.com/{{.}}"><i class="fab fa-instagram"></i></a>
  {{ end }}
  {{ with .Site.Params.social.linkedin }}
  <a href="https://linkedin.com/in/{{.}}"><i class="fab fa-linkedin"></i></a>
  {{ end }}
  {{ with .Site.Params.social.medium}}
  <a href="https://medium.com/{{.}}"><i class="fab fa-medium"></i></a>
  {{ end }}
  {{ with .Site.Params.social.email }}
  <a href="mailto:{{.}}"><i class="far fa-envelope"></i></a>
  {{ end }}
</section>
