{{ partial "header.html" . }}

<div class="container-fluid" >
    <div class="row banner">
        <div class="container">
            {{ partial "avatar.html" . }}
            
            {{ partial "info.html" . }}
        </div>
    </div>

{{ partial "main_menu.html" . }}

{{ partial "social.html" . }}

{{ partial "footer.html" . }}
</div>
